import gradio as gr
import requests

def generateImage(prompt):
    try:
        response = requests.post('https://api.devnet.arsenum.com/run/job', json={
            "module":"ghcr.io/arsen3d/fluxmodule:latest",
            "input":{"name":"Message",
                "value":prompt
                }
        })
        response.raise_for_status()
        return f'https://api.devnet.arsenum.com/files/{response.json()["dataid"]}/outputs/output.png'
    except requests.RequestException as e:
        return f"Error: {e}"

    except requests.RequestException as e:
        return f"Error: {e}"

gr.Interface(generateImage, "textbox", "image").launch()